body{
    margin: 0;
    background-image: url("img/DSC_0253.jpg");
    font-family: "Mark", sans-serif;
    font-weight: 300;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
    width: 80%;
    height: 90px;
    margin: 0 auto;
    background: black;
    border-radius: 40%;
}

.signature{
    width: 400px;
    height: 100px;
    float: left;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 75px;
    padding-top: 35px;
}

nav a{
color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: gold;
}

.content{
    width: 100%;
    height: 400px;
    /*position: absolute;*/
    /*background: silver;*/
    display: flex;
    justify-content: space-between;
    /*margin: 0;*/
    align-items: center;
    color: white;

}

.sui{
    width: 300px;
    height: 300px;
}

.rom{
    width: 300px;
    height: 300px;
}

.nor{
    width: 300px;
    height: 300px;
}