*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
    border: 3px solid #A9A9A9;
    border-radius: 5px;
    padding: 5px;
}

.header{
    width: 100%;
    height: 150px;
    background: #D9D9D9;

}

.content{
    display: flex;
    column-gap: 5px;
    margin-top: 5px;
}

.content_header{
    width: 100%;
    height: 150px;
    background: #D9D9D9;
}

.content_left{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.content_info{
    display: flex;
    column-gap: 5px;
}

.content_info__item{
    height: 150px;
    flex-grow: 1;
    background: #D9D9D9;
}

.content_sidebar{
    background: #D9D9D9;
    flex-grow: 1;
}

