.container{
    margin: 0 auto;
    width: 800px;
}

.header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: fuchsia;
}

.nav{
    width: 100%;
    /*height: 60px;*/
    background: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 400px;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background: black;*/
}


.main{
    flex-grow: 3;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside{
    flex-grow: 1;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: forestgreen;
}
