* {
    padding: 0;
    margin: 0;
}


.wrapper {
    padding: 0 283px 0 283px;
    max-width: 1920px;
}

.header {
    border-bottom: 1px solid #E1E5F8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.header_top {
    background-color: #0F2438;
    height: 36px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
}

.header_nav__info {
    display: flex;
    column-gap: 50px;
}

.header_nav__nav {
    display: flex;
    column-gap: 30px;
}

.location_img {
    width: 20px;
    height: 20px;
}

.nav a, .nav_info a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.nav_info a:hover, nav a:hover {
    text-decoration: none;
    border-bottom: 1px solid blue;

}

.header_contacts__logo img {
    width: 70px;
    height: 71px;
}

.header_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.header_about__item1 {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.header_about__item1 p {
    width: 168px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}

.header_about__item1 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #0F2438;
}

.clock_img {
    width: 11px;
    height: 11px;
}

.header_about__item2, .header_about__item3 {
    display: flex;
    column-gap: 10px;
}

.header_about__item2 p {
    width: 215px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.header_about__item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
}

.header_about__item5 h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.header_about__item5 a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    text-align: right;
}

.header_about__item5 a:hover {
    text-decoration: none;
    border-bottom: 1px solid blue;
}

.header_about__item4 {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
}

.header_about__item4 p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}

.header_about__item4 img {
    width: 12px;
    height: 12px;
}

.header_button__menu div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.header_button__burger {
    width: 20px;
    height: 3px;
    background: #FFFFFF;

}

.header_button__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
}

.header_buttons {
    padding-top: 35px;
}

.header_buttons__left {
    display: flex;
    column-gap: 30px;
}

.search-field {
    width: 549px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    border: none;
}

.search-field::placeholder {
    padding-left: 19px;
}

.search-submit {
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.header_buttons__right3 img {
    width: 26px;
    /*height: 20px;*/
}

.header_buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.header_buttons__right {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header_buttons__right1, .header_buttons__right2, .header_buttons__right3 {
    height: 28px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header_buttons__right1, .header_buttons__right2 {
    font-style: normal;
    padding-right: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
    border-right: 1px solid #E1E5F8;
}

.header_buttons__right3 p {
    width: 69px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
}

.products_header {
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
}

.products_box {
    display: flex;
    justify-content: space-between;
    background-image: url("img/03 1.png");
    background-color: # #6D8AD4;
    width: 1008px;
    height: 390px;
    border-radius: 20px;
}

.products_box__description {
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products_box__description h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #0A1A2C;
}

.products_box__description p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.products_box__buy {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.products_box__buy span {
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.product_box__button {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    align-items: center;
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    /*margin-top: 15px;*/
}

.product_box__button img {
    width: 20px;
    height: 20px;
}

.products_box__img {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-right: 67px;
    width: 417px;
    height: 356px;
}

.products_box__right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.products_box__right_sub {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
}

.products_box__rightHead {
    display: flex;
    padding: 54px 0 0 15px;
    column-gap: 15px;
}

.mufta_img {
    width: 80px;
}

.products_box__rightHead h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    width: 186px;
}

.products_box__rightHead p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.products_box__rightHeadSmall {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.products_box__rightHeadprice {
    display: flex;
    align-items: center;
}

.products_box__rightHeadprice span {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    padding-right: 5px;
}

.false {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    padding-right: 32px;
}

.products_box__rightHeadpriceBtn {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_box__rightHeadpriceBtn img {
    width: 20px;
}

.products_content__topDesc {
    width: 431px;
    height: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}

.products_content__top {
    display: flex;
    padding-top: 64px;
    column-gap: 30px;
}

.products_content__topHead {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 10px;
}

.products_content__topHead h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}

.products_content__topBtn {
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /*display: flex;*/
    /*align-items: center;*/
    color: #FFFFFF;
}

.products_content__topDesc {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.products_main__buttons {
    padding-top: 70px;
    display: flex;
    column-gap: 20px;
}

.products_main__button1 {
    width: 241px;
    height: 55px;
    background: #005BB9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.products_main__button2, .products_main__button3 {
    border: 2px solid #005BB9;
    height: 55px;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    cursor: pointer;
}

.products_main__button2 {
    width: 123px;
}

.products_main__button3 {
    width: 229px;
}

.products_main__content {
    margin-top: 11px;
}

.products_main__contentWrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

.products_content__item {
    width: 316px;
    height: 445px;
}

.discount {
    position: absolute;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 39px;
    height: 20px;
    background: #FFB800;
    border-radius: 2px;
}

.products_content__itemHeadrate {
    display: flex;
    column-gap: 10px;
    padding-top: 21px;
    line-height: 16px;
    color: #B0B0B0;
}

.products_content__itemHead h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
    padding-top: 10px;
}

.products_content__itemHead p {
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    padding-top: 46px;
}

.content_price {
    font-weight: bold;
    font-size: 28px;
    line-height: 26px;
    color: #FFB800;
}

.content_price__wrap {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.content_price__wrap p {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.products_content__itemfoot {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.products_content__itemfoot img {
    width: 21px;
    height: 18px;
}

.show_more {
    width: 187px;
    height: 49px;
    text-align: center;
    margin-top: 40px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005BB9;
}

.show_more__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1270px;
    margin: 0 auto;
}

.news_header {
    padding-top: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

}

.news_content {
    display: flex;
    column-gap: 60px;
}

.news_content__date {
    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
}

.news_content__article {
    padding-top: 43px;
    width: 284px;
}

.news_content__articleBody {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 15px;
}

.news_content__articleBody ul {
    list-style: none;
}

.footer {
    height: 408px;
    background: #0C1A2A;
    margin-top: 121px;
}

.footer_content {
    display: flex;
    column-gap: 90px;
}

.footer_content__list {
    width: 276px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding-top: 36px;
}

.footer_content__list p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    text-transform: uppercase;
}

.footer_content__list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.credit_cards {
    width: 114px;
    height: 45px;
    margin-top: -6px;
}


.footer_content__list span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer_contact__form {
    position: absolute;
    width: 30px;
    height: 30px;
    background: yellow;
    top: 2758px;
    left: 300px;
}

.contact_form {
    position: absolute;
    top: 2763px;
    left: 1140px;
}

.search-field_footer {
    width: 300px;
    height: 40px;
    border-radius: 6px 0 0 6px;
    border: solid 1px #203246;
    background: #0C1A2A;
}

.search-field_footer::placeholder {
    padding-left: 19px;
}

.search-submit_footer{
    width: 177px;
    height: 40px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.contact_form__icons{
    display: flex;
    column-gap: 55px;
    justify-content: flex-end;
    height: 20px;
    padding-top: 28px;
}