*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
    border: 3px solid #A9A9A9;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    background: #D9D9D9;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: 5px;
    display: flex;
    column-gap: 5px;
}

.content_header{
    width: 100%;
    background: #D9D9D9;
    height: 150px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*column-gap: 5px;*/
}

.content_left{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.content_info{
    /*height: 150px;*/
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    row-gap: 5px;
}

.content_info__item, .content_header__item{
    width: 32%;
    height: 150px;
    background: #D9D9D9;
    flex-grow: 1;
}

.content_sidebar{
    background: #D9D9D9;
    flex-grow: 1;
    width: 20%;
}